#matplotlib
#cargo
#rust
wheel
setuptools
cryptography==3.3.2
scipy
broadlink
PyAudio
pvrecorder
pvporcupinedemo
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-speech
google-cloud
flask
Jinja2